.correction {
  column-count: 2;
  column-width: 50%;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: #333;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked + label {
  background-color: red;
}

.radio-notes {
  display: inline-block;
}
